.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.container .label {
    color: white;
    font-size: 16px;
}

.container .sublabel {
    color: rgb(141, 179, 181);
    font-size: 12px;
}

p {
    padding: 0;
    margin: 0;
}

.amount {
    font-size: 30px;
    color: rgb(0, 182, 157);
    font-weight: bold;
}

